<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Index</title>
    </head>
    <body>
        <h1>ZJUSE</h1>
        <p>welcome {{ student.name }}!<a href="{% url 'logout' %}">Logout</a></p>

        <h2>最新通知</h2>
        <ul>
            {% for notification in notification_set %}
            <li>
                <p>{{ notification.clazz.name }}</p>
                <b><a href="{% url 'notification_detail' notification.id %}">{{ notification.title }}</a></b>
            </li>
            {% endfor %}
        </ul>

        <h2>我的课程</h2>
        <ul>
            {% for class in class_set %}
            <li>
                <a href="{% url 'course_detail' class.course.id %}">{{ class.course.name }}</a>
                <a href="{% url 'student_class' class.id %}">{{ class.name }}</a>
            </li>
            {% endfor %}
        </ul>

        <h2>作业</h2>
        <ul>
            {% for homework in homework_set %}
            <li>
                {{ homework.clazz.name }}
                <a href="{% url 'student_view_homework' homework.id %}">{{ homework.title }}</a>
                DDL:
                {{ homework.ddl }}
                {{ homework.status }}
            </li>
            {% endfor %}
        </ul>

        <h2>教师文章</h2>
        <ul>
            {% for article in article_set %}
            <li>
                <a href="{% url 'teacher_description' article.teacher.user.id %}">{{ article.teacher.name }}</a>
                <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
                {{ article.pub_date }}
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
