<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>我的作业</title>
	</head>
	<body>
        <h1>{{ homework.clazz.name }} {{ homework.title }}</h1>
        <p>{{ homework.content }}</p>
        说明文件：{{ homework.attached_file }}
        发布时间：{{ homework.pub_date }}
        截止时间：{{ homework.ddl }}
        状态：{{ homework.status }}
        权重：{{ homework.weight }}
        最后提交于：{{ finish.upload_time }}
        <form action="{% url 'student_upload_homework' finish.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
            {{ form }}
            </table>
            <input type="submit" value="提交" />
        </form>
        {% if finish.upload_file %}
        <a href="{{ finish.upload_file.url }}">查看提交</a>
        {% endif %}
        得分：{{ finish.score }}
        班级平均分：{{ average_score }}
        排名：{{ rank }} / {{ total }}
	</body>
</html>
