<!doctype html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.ico' %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>浙江大学软件工程教学辅助系统</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'assets/css/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'assets/css/demo.css' %}" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'assets/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="{% static 'assets/img/sidebar-5.jpg' %}">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    ZJUSE
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="{% url 'index' %}">
                        <i class="pe-7s-display2"></i>
                        <p>主页</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'teacher_notification_list' %}">
                        <i class="pe-7s-bell"></i>
                        <p>通知列表</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'teacher_homework_list' %}">
                        <i class="pe-7s-notebook"></i>
                        <p>作业列表</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'teacher_course_list' %}">
                        <i class="pe-7s-study"></i>
                        <p>课程列表</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'teacher_teacher_list' %}">
                        <i class="pe-7s-users"></i>
                        <p>教师列表</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'teacher_article_list' %}">
                        <i class="pe-7s-news-paper"></i>
                        <p>文章列表</p>
                    </a>
                </li>
                <li>
                    <a href="/forum/">
                        <i class="pe-7s-chat"></i>
                        <p>教学论坛</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'change_password' %}">
                        <i class="pe-7s-tools"></i>
                        <p>账户设置</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
								<p class="hidden-lg hidden-md">主题设置</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a onclick="changeColor('green')">草木绿</a></li>
                                <li><a onclick="changeColor('azure')">晴空蓝</a></li>
                                <li><a onclick="changeColor('orange')">秋日黄</a></li>
                                <li><a onclick="changeColor('blue')">湖水蓝</a></li>
                                <li><a onclick="changeColor('red')">枫叶红</a></li>
                                <li><a onclick="changeColor('purple')">晚霞紫</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
									<p class="hidden-lg hidden-md">
										<b class="caret"></b>
                                        语言/Language
									</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">中文</a></li>
                                <li><a href="#">English</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
								<p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'modify_teacher_description' %}" target="_blank">
                               <p>{{ teacher.name }}</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                                <p>注销</p>
                            </a>
                        </li>
						<li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card">

                            <div class="header">
                                <h4 class="title pull-left">我发布的通知</h4>
                                <a href="{% url 'add_notification' %}" target="_blank"><i class="pull-right fa fa-plus-circle fa-2x"></i></a>
                            </div>
                            <div class="content">
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>班级</th>
                                            <th>标题</th>
                                            <th>发布时间</th>
                                        </thead>
                                        <tbody>
                                        {% for notification in notification_set %}
                                            <tr>
                                                <td>{{ notification.clazz.name }}</td>
                                                <td><a href="{% url 'notification_detail' notification.id %}" target="_blank">{{ notification.title }}</a></td>
                                                <td>{{ notification.pub_date }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="card">
                            <div class="header">
                                <h4 class="title pull-left">我的课程</h4>
                            </div>
                            <div class="content">
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>课程</th>
                                            <th>班级</th>
                                        </thead>
                                        <tbody>
                                        {% for class in class_set %}
                                            <tr>
                                                <td><a href="{% url 'course_detail' class.course.id %}" target="_blank">{{ class.course.name }}</a></td>
                                                <td><a href="{% url 'teacher_class' class.id %}" target="_blank">{{ class.name }}</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title pull-left">本班作业</h4>
                                <a href="{% url 'add_homework' %}" target="_blank" target="_blank"><i class="pull-right fa fa-plus-circle fa-2x"></i></a>
                            </div>
                            <div class="content">
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>班级</th>
                                            <th>标题</th>
                                            <th>截止日期</th>
                                            <th>批改进度</th>
                                        </thead>
                                        <tbody>
                                            {% for homework in homework_set %}
                                            <tr>
                                                <td><a href="{% url 'teacher_class' homework.clazz.id %}" target="_blank">{{ homework.clazz.name }}</a></td>
                                                <td><a href="{% url 'teacher_check_homework' homework.id %}" target="_blank">{{ homework.title }}</a></td>
                                                <td>{{ homework.ddl }}</td>
                                                <td>{{ homework.check_status }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title pull-left">我的文章</h4>
                                <a href="{% url 'add_article' %}" target="_blank"><i class="pull-right fa fa-plus-circle fa-2x"></i></a>
                            </div>
                            <div class="content">
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>文章标题</th>
                                            <th>发布时间</th>
                                        </thead>
                                        <tbody>
                                            {% for article in article_set %}
                                            <tr>
                                                <td><a href="{% url 'article_detail' article.id %}" target="_blank">{{ article.title }}</a></td>
                                                <td>{{ article.pub_date }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="">ZJUSE GROUP 12</a>
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="{% static 'assets/js/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>

	<!--  Charts Plugin -->
    <script src="{% static 'assets/js/chartist.min.js' %}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static 'assets/js/bootstrap-notify.js' %}"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="{% static 'assets/js/light-bootstrap-dashboard.js' %}"></script>


	<script type="text/javascript">
    	$(document).ready(function(){


        	$.notify({
            	icon: 'pe-7s-gift',
                message: "欢迎回来，{{ teacher.name }}老师"

            },{
                type: 'info',
                timer: 4000
            });
        {% if message %}
        {% if message == 'success' %}
        	$.notify({
            	icon: 'pe-7s-gift',
                message: "操作成功！"

            },{
                type: 'success',
                timer: 4000
            });

        {% endif %}
        {% if message == 'fail' %}
        	$.notify({
            	icon: 'pe-7s-gift',
                message: "操作失败！"

            },{
                type: 'danger',
                timer: 4000
            });

        {% endif %}
        {% endif %}


    	});
	</script>
    <script>
        function changeColor(color){
            document.getElementsByClassName('sidebar')[0].setAttribute('data-color', color);
        }
    </script>

</html>
